
#intro {                                         /* first class section under the main tag*/
	text-align: center; 
	width: 100%;
	height: 50vh;
	display: grid;
}
#intro > div {
	margin: auto 0;
}
#intro > div h1 {
	font-size: 40px;
}
#intro > div #FT-text {
	color: var(--primary2);
	text-decoration: underline;
}
#intro div > p {
	margin-bottom: 36px;
}
#intro div > a {
	background-color: var(--primary2);
	color: var(--white0);
	text-decoration: none;
	border-radius: 8px;
	padding: 12px 16px;
}
#intro div > a:hover {
	background-color: var(--primary0);
}


#about {
	background-color: var(--white2);
	width: 100%;
	box-sizing: border-box;
	padding: 48px 16px;
}
#about #top {
	text-align: center;
	width: 100%;
	padding: 60px 80px;
	box-sizing: border-box;
}
#about #top h2 {
	margin:0;
	font-size: 32px;
}
#about #top p {
	margin-bottom: 0;
}
#about #values-container {
	width: min(100%, 940px);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 16px;
	justify-self: center;
}
#about #values-container .boxes {
	background-color: var(--white0);
	width: 100%;
	border-radius: 16px;
	padding: 20px;
	text-align: center;
	box-sizing: border-box;
}
#about #values-container .boxes img {
	width: 50px;
	height: 50px;
}
#about #values-container .boxes h4 {
	margin: 0;
	color: var(--primary3);
	font-size: 20px;
}
#about #story-container {
	border-radius: 16px;
	background-color: var(--white0);
	padding: 20px 40px;
	width: min(100%, 640px);
	margin: 16px auto 40px auto;
	box-sizing: border-box;
}
#about #story-container h4 {
	margin-bottom: 0;
	color: var(--primary3);
	font-size: 20px;
}


#meet-container {
	background-color: var(--white0);
	width: 100%;
	justify-items: center;
	padding: 48px 0;
}
#meet-intro {
	text-align: center;
	margin-top: 44px;
}
#meet-intro h2 {
	font-size: 32px;
	margin-bottom: 0;
	color: var(--primary2)
}

#owners-container {
	width: min(100%, 1000px);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 28px;
	padding: 30px;
	box-sizing: border-box;
}
#owners-container div {
	border-radius: 20px;
	background-color: var(--white2);
	box-sizing: border-box;
	overflow: hidden;
	padding: 20px;
}
#owners-container div img {
	width: 100%;
}
#stats-container {
	background-color: var(--primary9);
	width: 100%;
	padding: 40px 0;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-items: center;
	align-items: center;
	text-align: center;
}
#stats-container div h2,
#stats-container div p {
	margin: 0;
}


